{% extends 'base.twig' %}

{% block title %}Symfony + Vue{% endblock %}

{% block body %}
<div id="app"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('welcome') }}
{% endblock %}