// @forward 'vuetify/settings' with (
//     $body-font-family: 'JetBrains Mono',
// );

@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-color: #000a12;
$light-color: #4f5b62;
$primary-color: #263238;

$bg-less-light: #E1E2E1;
$bg-light: #F5F5F6;

.color-light { background-color: $light-color; }
.color-primary { background-color: $primary-color; }
.color-dark { background-color: $dark-color; }