// @use 'vuetify';

@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-color: #000a12;
$light-color: #4f5b62;
$primary-color: #263238;

$bg-less-light: #E1E2E1;
$bg-light: #F5F5F6;

.color-light { background-color: $light-color; }
.color-primary { background-color: $primary-color; }
.color-dark { background-color: $dark-color; }

body { font-family: 'JetBrains Mono', monospace; }

// Scrollbar
::-webkit-scrollbar { width: .7rem; }

::-webkit-scrollbar-track {
    margin-block: .1rem;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 1rem;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover { background-color: $light-color; }