{% extends 'base.twig' %}

{% block title %}Movies Catalog{% endblock %}

{% block body %}
<div>
    {% if movies %}
    Movies
    <ul>
        {% for movie in movies %}
        <li>{{ movie.title }}</li>
        {% endfor %}
    </ul>
    {% else %}
    No movie found
    {% endif %}
</div>
{% endblock %}