{% extends 'base.twig' %}

{% block title %}
{{ title ?? 'Movie' }}
{% endblock %}

{# !!!!!!!!!!!!!!!!!!!!!!!! NEVER FORGET TO ADD THE {{ parent() }} #}
{# {% block javascripts %}
{{ parent() }}
{% endblock %} #}

{% block body %}
<div class="example-wrapper">
    {# {% if movies %}
    Movies
    <ul>
        {% for movie in movies %}
        <li>{{ movie.title }}</li>
        {% endfor %}
    </ul>
    {% else %}
    No movie found
    {% endif %} #}
</div>
{% endblock %}